In [73]:
import pandas as pd

loc = "PhilsFishFactoryData.xlsx"

df = pd.read_excel(loc, usecols = "B:D")

In [74]:
df

     Day  Wholesale Price ($/lb)  # Lobsters sold
0    Fri                     7.0                4
1    sat                     4.0               29
2    Sun                     6.5               18
3    Mon                     5.0               17
4    Tue                     4.0               25
5    Wed                     3.5               28
6   Thur                     4.5               16
7    Fri                     7.0                4
8    Sat                     6.0               13
9    Sun                     5.5               23
10   Mon                     6.5                8
11   Tue                     4.0               29
12   Wed                     2.5                9
13  Thur                     7.0                6

In [75]:
df.columns = ["day", 'price', "numlob"]

In [76]:
import numpy as np

df["monday"] = np.where((df["day"]=="Mon"),1,0)
df["tuesday"] = np.where((df["day"]=="Tue"),1,0)
df["wednesday"] = np.where((df["day"]=="Wed"),1,0)
df["thursday"] = np.where((df["day"]=="Thur"),1,0)
df["friday"] = np.where((df["day"]=="Fri"),1,0)
df["saturday"] = np.where((df["day"]=="Sat") | (df["day"]=="sat"),1,0)

df

,day,price,numlob,monday,tuesday,wednesday,thursday,friday,saturday
0,Fri,7.0,4,0,0,0,0,1,0
1,sat,4.0,29,0,0,0,0,0,1
2,Sun,6.5,18,0,0,0,0,0,0
3,Mon,5.0,17,1,0,0,0,0,0
4,Tue,4.0,25,0,1,0,0,0,0
5,Wed,3.5,28,0,0,1,0,0,0
6,Thur,4.5,16,0,0,0,1,0,0
7,Fri,7.0,4,0,0,0,0,1,0
8,Sat,6.0,13,0,0,0,0,0,1
9,Sun,5.5,23,0,0,0,0,0,0
10,Mon,6.5,8,1,0,0,0,0,0
11,Tue,4.0,29,0,1,0,0,0,0
12,Wed,2.5,9,0,0,1,0,0,0
13,Thur,7.0,6,0,0,0,1,0,0

In [77]:
import statsmodels.formula.api as sm

df.corr()

,price,numlob,monday,tuesday,wednesday,thursday,friday,saturday
price,1.000000,-0.627493,0.152333,-0.345289,-0.629644,0.152333,0.507778,-0.060933
numlob,-0.627493,1.000000,-0.175645,0.484651,0.097581,-0.243952,-0.562715,0.211425
monday,0.152333,-0.175645,1.000000,-0.166667,-0.166667,-0.166667,-0.166667,-0.166667
tuesday,-0.345289,0.484651,-0.166667,1.000000,-0.166667,-0.166667,-0.166667,-0.166667
wednesday,-0.629644,0.097581,-0.166667,-0.166667,1.000000,-0.166667,-0.166667,-0.166667
thursday,0.152333,-0.243952,-0.166667,-0.166667,-0.166667,1.000000,-0.166667,-0.166667
friday,0.507778,-0.562715,-0.166667,-0.166667,-0.166667,-0.166667,1.000000,-0.166667
saturday,-0.060933,0.211425,-0.166667,-0.166667,-0.166667,-0.166667,-0.166667,1.000000

### Correlation results
#### Price is pretty heavily correlated with the number of lobsters sold, as well as the day of the week, so we will regress against those variables
#### Importantly the number of dummy variables for the day of the week must be one less than the number of the days of the week. In this case sunday is the base case. When number of lobsters is accounted for, and none of the other day dummies take a value of 1, we get the price of lobsters for sunday. The other day variables how much more or less expensive lobsters are compared to sunday.

In [78]:
reg1 = sm.ols(formula="price ~ numlob + monday + tuesday + wednesday + thursday + friday + saturday", data = df).fit()
reg1.summary()

C:\Users\isaac\Anaconda3\lib\site-packages\scipy\stats\stats.py:1394: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=14
  "anyway, n=%i" % int(n))

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.815
Model:                            OLS   Adj. R-squared:                  0.598
Method:                 Least Squares   F-statistic:                     3.768
Date:                Fri, 05 Oct 2018   Prob (F-statistic):             0.0634
Time:                        15:17:39   Log-Likelihood:                -13.128
No. Observations:                  14   AIC:                             42.26
Df Residuals:                       6   BIC:                             47.37
Df Model:                           7
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      7.3805      1.157      6.379      0.001       4.550      10.211
numlob        -0.0673      0.046     -1.461      0.194      -0.180       0.045
monday        -0.7887      1.014     -0.778      0.466      -3.269       1.691
tuesday       -1.5623      0.990     -1.577      0.166      -3.986       0.861
wednesday     -3.1347      0.949     -3.305      0.016      -5.456      -0.814
thursday      -0.8897      1.041     -0.855      0.425      -3.436       1.657
friday        -0.1111      1.212     -0.092      0.930      -3.078       2.855
saturday      -0.9663      0.944     -1.023      0.346      -3.277       1.344
==============================================================================
Omnibus:                        0.001   Durbin-Watson:                   2.918
Prob(Omnibus):                  1.000   Jarque-Bera (JB):                0.190
Skew:                           0.000   Prob(JB):                        0.909
Kurtosis:                       2.429   Cond. No.                         157.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [80]:
reg1.params

Intercept    7.380513
numlob      -0.067342
monday      -0.788737
tuesday     -1.562277
wednesday   -3.134684
thursday    -0.889750
friday      -0.111144
saturday    -0.966329
dtype: float64

### Results
#### Based on these data lobsters are mor expensive on sunday than they are on any other day of the week. They are least expensive on wednesday where lobsters sell for 3.13/pound less than they do on sunday.